/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* コンテンツテンプレートのテキストエリアスタイル */
.setting-item textarea {
  width: 100%;
  min-height: 200px;
  font-family: var(--font-monospace);
  resize: vertical;
}
